/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2.5rem; 
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem; 
    font-weight: bold;
    margin: 2rem; 
  }
  
  h3 {
    font-size: 1.75rem; 
    font-weight: bold;
    margin: 2rem; padding: 1rem 2rem;
  }
  
  h4 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 2rem; padding: 1rem 2rem;
  }
  a {
    color: blue; 
  }

  table {
    border: 1px solid rgb(92, 5, 5);   
    border-collapse: collapse;
}

th, td {
  border: 1px solid white;   
  border-radius: 1rem;

  background-color: #96D4D4;
    text-align: left; /* wyrównuje tekst do lewej */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: skyblue;
  margin: 1rem;
}
.box2 {
  
  background-color: skyblue;
  margin: 1rem;
}

.box1 {
  display: flex-auto;
  background-color: skyblue;
  margin: 1rem;
}
.boxnone {
  display: flex-none;
  background-color: skyblue;
  margin: 1rem;
}
